body {
  margin: 0;
  background-image: url("./images/banner-bg.svg");
  background-size: 100%;
}

/* all <a> elements */
a {
  text-decoration: none;
}

/* colors */
.pink {
    color: #FB3A7B;
}

.orange {
    color: #FDB153;
}

/* importing fonts */
@font-face {
    font-family: BarlowCondensed-ExtraBoldItalic;
    src: url(./fonts/BarlowCondensed-ExtraBoldItalic.ttf);
}

@font-face {
  font-family: BarlowCondensed;
  src: url(./fonts/BarlowCondensed-Regular.ttf);
}

/* container for logo and title */
.container {
  display: flex;
  width: fit-content;
  padding-top: 20px;
  padding-left: 20px;
}

/* title */
.title {
  font-family: BarlowCondensed-ExtraBoldItalic;
  font-size: 20px;
  margin-left: 10px;
}

/* text container */
.container2 {
  width: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
}

/* all <p> elements */
p {
  text-align: center;
  font-family: BarlowCondensed;
  color: white;
}

/* big text */
.bigText {
  font-size: 100px;
}

/* small text */
.smallText {
  font-size: 20px;
  margin-top: 40px;
}

/* paypal donate button */
#donate-button-container {
  width: fit-content;
  margin: auto;
}

/* github icon */
#github {
  margin-left: auto;
  margin-right: auto;
  margin-top: -60px;
}